# Clang-Format Style Options
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: LLVM
UseTab: true
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
# Always attach braces to surrounding context.
#BreakBeforeBraces: Attach
# Like Attach, but break before braces on function, namespace and class definitions.
BreakBeforeBraces: Linux
# Force pointers to the type for C++.
#DerivePointerAlignment: false
#PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
BreakConstructorInitializersBeforeComma: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
