---
BasedOnStyle: LLVM
UseTab: true
IndentWidth: 4
TabWidth: 4
---
Language: Cpp
BreakBeforeBraces: Attach
# Force pointers to the type for C++.
#DerivePointerAlignment: false
#PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
BreakConstructorInitializersBeforeComma: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
